
/* Palette */
@import url("./palette.css");


/* General */

html, body {
    height: 100vh;
    margin: 0;
    
}


body {
    background-color: var(--ctp-mocha-base);
    font-family: 'Poppins';
    font-size: 25px;
    color: var(--ctp-mocha-blue);
    overflow: hidden;
}

/* Navigation Bar */

navbar {
    background-color: var(--ctp-mocha-mantle);
    flex-direction: row;
    display: flex;
    padding: 0px 30px 10px 30px;
    align-items: center;
    gap: 100px;
}

navbar > h1 > a {
    font-size: 45px;
    text-decoration: none;

}

navbar > div.nav-links {
    padding-top: 10px;
    gap: 50px;
    display: flex;
    flex-direction: row;
}

navbar > div.nav-links a {
    text-decoration: none;
    color: var(--ctp-mocha-maroon);
    font-size: 30px;
}

navbar > div.nav-links a:hover {
    text-shadow: 0 0 8px;
    color: var(--ctp-mocha-sapphire)
}
 /* Flexbox */

.container-fluid {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: left;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}


/* Utilities */

button {
    font-family: 'Poppins';
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}

button:hover {
    background-color: var(--ctp-mocha-pink);
    transform: scale(110%);
}

h1 {
    color: var(--ctp-mocha-sky)
}

ul > li {
    color: var(--ctp-mocha-lavender);
}

img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}

.text-center {
    text-align: center;
}

.title {
    font-family: 'Lobster';
    color: var(--ctp-mocha-red);
}

.active {
    color: var(--ctp-mocha-sapphire) !important;
    text-shadow: 0 0 10px;
}

.glow {
    text-shadow: 0 0 4px;
}

/* Animations */

@keyframes animate-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: animate-fade-in 3s;
}

@keyframes animate-slide-in {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.slide-in {
    animation: animate-slide-in 3s;
}
